body{ position: relative; min-height:100%;  height: auto !important;  height: 100%; /*IE6²»Ê¶±ðmin-height*/}
header{width: 100%;}
.top-bar{height: 40px;border-bottom: 1px solid #CCC;line-height: 40px;}
nav{width: 100%;height:45px;background: url(../img/bg-nav.jpg) repeat-x}
nav .container{height: 45px;}
nav ul{padding-top: 5px;}
nav ul li a{height: 40px;}
nav li{list-style: none}
nav li a{text-align: center;color: #fff;border-top-left-radius: 6px;border-top-right-radius: 6px;font-weight: 700}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
    background-color: #fff;
    color:#014579 ;
}
.nav>li>a:focus,.nav>li>a:hover {
    color:#014579 ;
}
.banner-wrap{width:100%;margin: 0 auto;position: relative}
.banner-img{width: 100%;margin: 0;padding: 0;position: relative;z-index: 40}
.banner-img li{width: 100%;list-style: none;position: absolute}
.banner-img li img{width: 100%;}
.banner-nav{position: absolute;right:10px;bottom:10px;z-index: 50;margin: 0;padding: 0}
.banner-nav li{  display: inline-block;width: 25px;height: 10px;  margin-left: 5px;  background: #000;}
.banner-nav li.current{opacity: 0.4;filter:alpha(opacity=40)}
.form-horizontal .control-label{padding-right: 0}
.form-horizontal .form-group{margin-bottom: 5px}
.form-control{height: 30px;line-height: 30px;}
header .btn-default{width: 60px;height: 22px;line-height: 22px;text-align: center;padding: 0}
header form{margin-top: 4px}
article{margin-top: 30px;}
.bot{padding-bottom: 150px}
footer{position: absolute;width: 100%;height: 100px;bottom:0;border-top: 5px solid #0170d9;  background: #d4ecff;text-align: center}
footer p{margin:4px 0}
footer a,footer{color: #666}
.fo_nav{margin-top: 16px;}
.sub-panel{padding: 4px;height: auto;border: 1px solid #dcecfa}
.sub-panel h2{width: 100%;height: 32px;line-height: 32px;background: #056AB0 url(../img/title.jpg) no-repeat 8px 10px;font-size:14px;font-weight: bold;margin: 0;color: #fff;padding-left:10%;margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.sub-panel .user-pic{float:left;margin-right: 16px;}
.sub-panel p{color: #000;font-size: 12px;font-weight: 700}
.main-panel h2{display: inline-block;width: auto;padding: 0 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;background: #056AB0;color: #fff;font-size: 14px;height: 33px;line-height: 33px;text-align: center;margin: 0}
.main-panel-cont{width: 100%;border-top:2px solid #0479dc;}
.main-sub-panel{width: 49.9%;padding: 20px;background: #e4f6fc;float:left;min-height: 224px;}
.main-sub-panel li{margin-bottom: 8px;font-weight: 700}
.main-sub-panel1{margin-right: 1px;}
.mar-bot-50{margin-bottom: 50px!important;}
.forum{margin: 0;padding: 0;margin-left: 6px;}
.forum li{  height: 30px;overflow: hidden;line-height: 30px;  padding-left: 10px;  background: url(../img/title2.jpg) no-repeat 0 13px;}
.forum li a{color: #666;font-size: 12px;}
.red{color:#f00}
.reg-title{  height: 36px;  background: #e6f3fc;margin-bottom: 15px;}
.reg-title a{  width: 140px;  height: 36px;  display: block;  text-align: center;  line-height: 36px;  color: #fff;  background: url(../img/reg.gif) center center no-repeat;  font-size: 14px;  }
.reg-wrap{  height: auto;  margin-top: 15px;  border: 1px solid #9dd1f3;  padding: 15px 17px;color: #000}
.reg-wrap form{width: 80%;margin: 0 auto}
.reg-tip1{  height: 28px;  padding: 4px 0 0 8px;  margin-bottom: 17px;  background: #ebeff3;  border: 1px solid #d8dadb;}
.reg-tip1 .login{color: #f46d13}
.reg-tip2{  height: 26px;  padding: 4px 0 0 8px;  background: #f0f8ff;  border: 1px solid #cee6fc;  margin-bottom: 7px;}
.pwd{display:inline-block;height: 35px;line-height: 35px;text-align: center;padding: 0 6px;}
.tip2{color: #b1b1b1}
.txtC{text-align: center}
.public-url{width: 74%;display:inline-block;}
.search-txt{width: 81%;display:inline-block;}
.publoc-num{display: inline-block;width: 10%}
.delect{display:inline-block;margin-left: 4px;}
.url-list{margin:4px 0}
#copy{display: inline-block}
#submitTask,#submitTask2{text-align: center;}
#submitTask .btn,#submitTask2 .btn{display: inline-block}
.modal-title{font-size: 22px;font-weight: 700}
#public-table td{line-height: 2}
.public-user{padding-right: 4px;}
@media (max-width: 1000px) {
    nav{height: 100%;background-size:100% 100% }
    nav .container{height: 100%}
    .main-sub-panel{width: 100%;float:none;margin-bottom: 2px;}
    .main-sub-panel1{margin: 0}
    footer{height: auto}
}